{% extends "table.html" %}

{% block rows %}
{% for user in users %}
<tr data-id={{user.username}}>
    <td>{{user.username}}</td>
    {% for role in rolesPerUser[user] %}
    	<td>
    	  {% include "rolecheckbox.html" %}
    	</td>
    {% endfor %}
    {% include "tableactions.html" %}
</tr>
{% endfor %}
{% endblock %}

{% block metas %}
<meta id="create-user-url" data-url="{{ url_for('.create') }}">
<meta id="delete-user-url" data-url="{{ url_for('.delete') }}">
<meta id="set-role-url" data-url="{{ url_for('.set_role') }}">
{% endblock %}

{% block js %}
{{super()}}
<script src="{{url_for('static', filename='utils.js')}}"></script>
<script src="{{url_for('.static', filename='usermanagement.js')}}"></script>
<script>function get_roles() { return {{roles|safe}} }</script>
{% endblock %}