.wrapper {
  display: flex;
  flex-direction: row;
}

.container-fluid {
  margin-top:10px;
  border-top:2px solid black;
  padding-top:10px;
}

.list-group-item {
  user-select: none;
}

.table {
  overflow-wrap: break-all;
  max-width:100%;
}

.tbody {overflow-x: hidden;}