{% extends "table.html" %}

{% block rows %}
{% for product in beer_pub.get_products() %}
<tr>
	<td hidden>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{beer_pub.get_price(product)}}</td>
    {% include "tableactions.html" %}
</tr>
{% endfor %}
{% endblock %}


{% block metas %}
<meta id="create-beer-pub-product-url" data-url="{{ url_for('.add_product') }}">
<meta id="delete-beer-pub-product-url" data-url="{{ url_for('.remove_product') }}">
<meta id="edit-beer-pub-product-url" data-url="{{ url_for('.edit_product') }}">
<meta id="beerPub-id" data-id="{{beer_pub.id}}">
<meta id="possible-products-url" data-url="{{ url_for('pubmanagement.possible_new_products', beerPubId=beer_pub.id) }}"
{% endblock %}

{% block js %}
{{super()}}
<script src="{{url_for('static', filename='utils.js')}}"></script>
<script src="{{url_for('.static', filename='catalogus.js')}}"></script>
{% endblock %}