<div class="modal fade" id="confirmOrder" tabindex="-1" role="dialog" aria-labelledby="confirmOrderLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmOrderLabel">Bevestig Bestelling</h5>
      </div>
      <div class="modal-body">
        Tafel: 
        <input class="form-control" type="stringis-valid" id="tableInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleer</button>
        <button type="button" class="btn btn-primary" id="confirmOrderButton">Bevestig</button>
      </div>
    </div>
  </div>
</div>