{% extends "table.html" %}

{% block css %}
{{super()}}
<link href="{{url_for('.static', filename='orderhistory.css')}}" rel="stylesheet" media="screen">
{% endblock %}

{% block rows %}
{% for order in beer_pub.get_orders() %}
<tr>
    <td hidden>{{order.id}}</td>
	<td>
		<button type="button" class="btn btn-link" id="collapse{{order.id}}Btn" data-toggle="collapse" data-target="#collapse{{order.id}}">
			<i class="fa fa-plus"></i>
		</button>
	</td>
    <td>{{order.id}}</td>
    <td>{{order.get_waiter().username}}</td>
    <td>€{{order.get_total_price()}}</td>
    <td>{{order.get_last_event().translate()}}</td>
    <td>{{get_ordered_time_formatted(order.get_ordered_time())}}</td>
    <td>{{order.remarks}}</td>
    {% include "tableactions.html" %}
</tr>
<tr>
	<td colspan="8" class="hiddenRow">
		<div class="accordian-body collapse" id="collapse{{order.id}}">
			<div class="table-responsive">
                <table class="table" data-locale="nl-NL">
                    <thead>
                        <tr>
                        	<th>Product</th>
                        	<th>#</th>
                        	<th>Prijs</th>
                        </tr>
                    </thead>
                    	{% for product in order.get_products() %}
                    	<tr>
                    		<td>{{product.name}}</td>
                    		<td>{{order.get_product_amount(product)}}</td>
                    		<td>{{order.get_product_price(product)}}</td>
                    	</tr>
                    	{% endfor %}
                    <tbody>
                    </tbody>
                </table>
            </div>
		</div>
	</td>
</tr>
{% endfor %}
{% endblock %}

{% block metas %}
<meta id="delete-order-url" data-url="{{ url_for('.deleteOrder') }}">
{% endblock %}

{% block js %}
{{super()}}
<script src="{{url_for('.static', filename='orderhistory.js')}}"></script>
{% endblock %}