{% extends "table.html" %}

{% block rows %}
{% for beerPubProduct in beerPubProducts %}
<tr data-product-id={{beerPubProduct.productId}} data-exists='true'>
    <td>{{get_product(beerPubProduct.productId).name}}</td>
    <td>{{beerPubProduct.price}}</td>
    {% include "tableactions.html" %}
</tr>
{% endfor %}
{% endblock %}


{% block metas %}
<meta id="create-beerPubProduct-url" data-url="{{ url_for('.createBeerPubProduct') }}">
<meta id="delete-beerPubProduct-url" data-url="{{ url_for('.deleteBeerPubProduct') }}">
<meta id="edit-beerPubProduct-url" data-url="{{ url_for('.editBeerPubProduct') }}">
<meta id="beerPub-id" data-id="{{beerPub.id}}">
<meta id="products-url" data-url="{{ url_for('productmanagement.products') }}"
{% endblock %}

{% block js %}
{{super()}}
<script src="{{url_for('static', filename='utils.js')}}"></script>
<script src="{{url_for('.static', filename='catalogus.js')}}"></script>
{% endblock %}