{% extends "table.html" %}

{% block rows %}
{% for beerPubProduct in beerPubProducts %}
<tr>
    <td>{{beerPubProduct.productId}}</td>
    <td>{{beerPubProduct.price}}</td>
    {% include "tableactions.html" %}
</tr>
{% endfor %}
{% endblock %}


{% block metas %}
<meta id="create-beerPubProduct-url" data-url="{{ url_for('.createBeerPubProduct') }}">
<meta id="delete-beerPubProduct-url" data-url="{{ url_for('.deleteBeerPubProduct') }}">
<meta id="edit-beerPubProduct-url" data-url="{{ url_for('.editBeerPubProduct') }}">
{% endblock %}

{% block js %}
{{super()}}
<script src="{{url_for('.static', filename='catalogus.js')}}"></script>
{% endblock %}