{% extends "table.html" %}

{% block rows %}
{% for beerPub in beerPubs %}
<tr data-id={{beerPub.id}}>
    <td>{{beerPub.startDate}}</td>
    <td>{{beerPub.endDate}}</td>
    <td><a href="{{ url_for('.catalogus', id=beerPub.id)}}">Catalogus</a></td>
    {% include "tableactions.html" %}
</tr>
{% endfor %}
{% endblock %}


{% block metas %}
<meta id="create-beerPub-url" data-url="{{ url_for('.createBeerPub') }}">
<meta id="delete-beerPub-url" data-url="{{ url_for('.deleteBeerPub') }}">
<meta id="edit-beerPub-url" data-url="{{ url_for('.editBeerPub') }}">
<meta id="catalogus-beerPub-url" data-url="{{ url_for('.catalogus', id=-1) }}">
<meta id="catalogus-beerPub-url-placeholder" data-placeholder="-1">
{% endblock %}

{% block js %}
{{super()}}
<script src="{{url_for('static', filename='utils.js')}}"></script>
<script src="{{url_for('.static', filename='pubmanagement.js')}}"></script>
{% endblock %}