{% extends "_base.html" %}

{% block css %}
<link href="{{url_for('static', filename='table.css')}}" rel="stylesheet" media="screen">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block content %}

{% include "homenavigation.html" %}
<div class="table-responsive">
    <table class="table table-borderless" data-unique-id="id" data-locale="nl-NL">
        <caption>
            <span style="color:black;">{{title}}</span>
            <button type="button" id="btnNew" class="btn btn-info add-new"><i class="fa fa-plus"></i>Nieuw</button>
        </caption>
        <thead>
            <tr>
                <th hidden>id</th>
                {% for column in columns %}
                    <th>{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% block rows %}{% endblock %}
        </tbody>
    </table>
<div>
{% include "alertmodal.html" %}

{% block metas %}{% endblock %}

{% endblock %}

{% block js %}
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/locale/bootstrap-table-nl-NL.min.js"></script>
<script src="{{url_for('static', filename='table.js')}}"></script>
{% endblock %}

{% include "_footer.html" %}